.vscode/**
.vscode-test/**
src/**
.gitignore
**/tsconfig.json
**/*.map
node_modules/**
!node_modules/typescript/**
**/.eslintrc.json
website/**
docs/**
.github/**
slides/**
netlify.toml
*.vsix
package-lock.json
